*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*vista mobile*/

#grid__principal{
    background-color:rgba(209, 209, 209, 0.527);
    display: grid;
    overflow: hidden;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.t-center{
    text-align: center;
}

.principal__section__article_div{
    margin-bottom: 50px;
}

.principal__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__article div{
    padding: 15px;
    margin: 5px;
    border: 1px solid black ;
}

.img-modificacion{
    width: 500px;
    height: 500px;
}

.footer__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

.footer-img{
    width: 60px;
    height: 60px;
}


/*vista tablet*/

@media screen and (min-width: 768px) {
    #grid__principal{
        background-color:rgba(209, 209, 209, 0.781);
        grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer ';
    }

    .principal__section__article_div{
        font-size: 200%;
        margin: 100px;
    }

    .principal__article{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__ul{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

/*vista destop*/

@media screen and (min-width: 1024px) {
    #grid__principal{
        background-color:rgb(209, 209, 209);
    }
}

